@font-face {
  font-family: gothicfont;
  src: url(Encient_German_Gothic/Germgoth.woff);
}
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: gothicfont;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #950101;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h1{
  font-size: 50%;
}
#content {
  max-width: 700px;
  margin: 70px auto;
  background: rgb(0, 0, 0);
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
  color: red;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: inherit;
  word-spacing: 10px;
  font-size: 170%;
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: #250000;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  border-top: 1px solid #950101;
  border-right: 1px solid #950101;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  text-decoration: none;
  padding-top: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

nav li:hover {
  background-color: rgb(49, 49, 49);
}

header {
  height: 40vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  color: red;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);

}

footer {
  background: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80vh;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  text-align: right;
  padding-top: 5vh;
  padding-right: 5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 700vh;
  z-index: 0;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

body.fixed-nav .content {
  transform: scale(1);
}

#loginDiv {
  font-size: 150%;
  border: 1px solid #950101;
  width: 500px;
  height: 250px;
  text-align: left;
  padding-left: 2vw;
  margin: auto;
  vertical-align: middle;
  padding-top: 3vh;
  margin-top: 25vh;
  background-color: black;
  color: #ffffff;
  box-shadow: 3px 1px 24px 15px rgba(0, 0, 0, 1);
}

input[type=text],
input[type=password] {
  width: 90%;

}
#error{
  color: white;

}
#cross{
  position: absolute;
  bottom: 10px;
  z-index: 1;
  left: 27vw;
}
#bwi{
  margin-left: -4vw;
}
#content-ustrobna {
  max-width: 1600px;
  margin: 70px auto;
  background: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
  color: red;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: inherit;
  font-size: 140%;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 500px;
  column-gap: 5px;
}
#ustrobna{
  position: absolute;
  right: 3vw;
  height: 600px;
}
.sidebar {
  position: fixed;
  top: 100px;
  left: -700px; 
  width: 700px;
  height: 600px;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  transition: left 0.3s;
  z-index: 1;
}

#openButton {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1;
}

#closeButton {
  position: absolute;
  top: 0px;
  left: 700px;
  display: none; 
}

.sidebar.open {
  left: 0; 
}

.sidebar.open #openButton {
  display: none; 
}

.sidebar.open #closeButton {
  display: block; 
}
.ac{
  border: none;
  padding: 0;
  background-color: navy;
}
#bwibaza{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  margin-right: 6vw;
  color: white;
}